*.o
vqec_obj
*.so*
*.a
.libs
*.lo
*.lo
*.la
autom4te.cache
aclocal.m4
install-sh
missing
config.log
config.status
3rd-party-src/libevent/libevent-1.1a/Makefile
3rd-party-src/libevent/libevent-1.1a/config.h
3rd-party-src/libevent/libevent-1.1a/libtool
3rd-party-src/libevent/libevent-1.1a/sample/event-test
3rd-party-src/libevent/libevent-1.1a/sample/signal-test
3rd-party-src/libevent/libevent-1.1a/sample/time-test
3rd-party-src/libevent/libevent-1.1a/stamp-h1
3rd-party-src/libevent/libevent-1.1a/test/bench
3rd-party-src/libevent/libevent-1.1a/test/regress
3rd-party-src/libevent/libevent-1.1a/test/test-eof
3rd-party-src/libevent/libevent-1.1a/test/test-init
3rd-party-src/libevent/libevent-1.1a/test/test-time
3rd-party-src/libevent/libevent-1.1a/test/test-weof
*_rpcgen
environ.mk
update_ver
utils/version/vqes_version.h
eva/vqec_version.h

