/*
 * Copyright (c) 2006-2012 by Cisco Systems, Inc.
 * All rights reserved.
 */

/*! 
  @file vqes_version.h
  @brief VQE-S version and build information
  This information will be displayed through the XML-RPC interface
 */

#define VQES_PRODUCT_ABREV		"VQE-S"
#define BUILD_DATE __DATE__
#define BUILD_TIME __TIME__

#define VQES_PRODUCT_VERSION  3
#define VQES_MAJOR_VERSION    6
#define VQES_MINOR_VERSION    3

#define VQES_VAR_BUILD_NUMBER 6 
#define VQES_VAR_BUILD_TYPE "build_type"
#define VQES_VAR_WS_PATH "build_ws"
#define VQES_VAR_BUILT_BY "build_user"
